<template>
  <div id="app">
    <router-view/>

    <VueDialogPlugin/>
  </div>
</template>

<script>
import Vue from 'vue'
import Dialog from '@/../publish/dist/vue-plugin-example.js'
// import Dialog from '@/components/Plugin/Installer.js'
Vue.use(Dialog)
export default {
  name: 'App'
}
</script>

<!--
<style lang="sass" type="text/sass" scoped></style>
-->
<style src="@/../publish/dist/vue-plugin-example.css"></style>
